html{
    background-color: azure;
}

body{
    margin: 0;
    box-sizing: border-box;
}


h1{text-align: center;
}

#Animals{
    display:flex;
    flex-direction: column;
    align-items:center;
}

#Bears,#Giraffes,#Lions,#Monkeys,#Alligators{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 2px  solid black;
    width:300px;
    padding: 20px;
    margin: 10px;
    background-color: wheat;
}


img{
    width:200px;

}